body{
    background-color: #62744A;
    color: whitesmoke;
    margin: 0;
}

body a:hover{
    text-decoration: none;
}

input{
    color: black;
}

.header input{
    width: 80%;
}

.songs{
    width: 100%;
    height: 450px;
    overflow: auto;
    overflow-x: hidden;
}

.songs ul{
    list-style: none;
    width: 100%;
}

.songs ul li{
    display: inline-block;
}

.songs ul li .single-tail{
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.songs ul li .single-tail .info{
    white-space: normal;
    width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    height:40px;
}

.songs ul li .single-tail .controls{
    position: absolute;
    bottom: 43px;
    color: white;
    display: none;
    z-index: 1001;
}

.songs ul li .single-tail .play{
    position: absolute;
    bottom: 40px;
    color: white;
    display: none;
    background-color: black;
    width: 100%;
    height: 101px;
    z-index: 1000;
    opacity: 0.4;
    text-align: center;
    line-height: 7;
}

.songs ul li .single-tail .play img{
    margin-top: 20px;
}

.songs ul li .single-tail .controls .queue{
    padding: 5px;
    color: white;
    background: #993030;
    cursor: pointer;
    z-index: 999;
}

.songs ul li .single-tail .controls .queue:hover{
    background-color: #A34848;
}

.songs ul li .single-tail:hover > .controls,
.songs ul li .single-tail:hover > .play{
    display: block;
}

.header{
    background-color: #513939;
    padding: 10px;
}
.container{
    margin-top: 56px;
    width: 100%;
}

.header .add-song .search-field{
    width: 80%;
    color: black;
}

.header .add-song a{
    cursor: pointer;
    margin-left: 5px;
    background-color: white;
    padding: 4px 10px 6px 10px;
    color: black;
    border-radius: 3px;
}
.header .add-song a.loading{
    background-image: url(../images/ajax-loader_1.gif);
    background-repeat: no-repeat;
    background-position-y: -10px;
    background-position-x: 3px;
}

.header .search-container{
}

.header .search-container input{
    position: relative;
    top: -5px;
}

.header .search-container i{
    margin-left: 10px;
}

.header .youtube-search{
    text-align: left;
}

.header .youtube-search .youbute-search-button{
    cursor: pointer;
}

.header .youtube-search .search-results{
    position: absolute;
    background-color: #6E6E6E;
    display: none;
    top: 35px;
    border: 1px solid #513939;
    z-index: 999;
}

.header .youtube-search .search-results ul{
    list-style: none;
    padding-left: 5px;
}

.header .youtube-search .search-results ul li{
    margin-top: 10px;
}

.header .youtube-search .search-results ul li .search-item{
    text-align: left;
}

.header .youtube-search .search-results ul li .search-item:hover{
    border: 1px solid white;
    cursor: pointer;
}

.player{
    padding: 5px;
    background-color: #513939;
}

.player .controls{
    margin-top: 12px;
}

.player .controls i{
    cursor: pointer;
}

.player .controls .controls-backward,
.player .controls .controls-forward{
    margin-left: 7px;
}

.player .info{
    padding: 10px;
    border: 1px solid #7C6F6F;
}

.player .info .timer{
    position: relative;;
    bottom: -20px;
}

.player .info p{
    margin: 0;
}

.player .info img{
    width: 100%;
}

.owl-item .item i{
    position: relative;
    top: -60px;
    left: 95px;
    color: red;
    cursor: pointer;
}

.ui-widget-header{
    background: none;
    background-color: #6D6A6A;
}