<li>
    <div class="single-tail">
        <img ng-src="images/thumbnails/{{song.id }}.jpeg" width="196" height="100" ng-click="controller.PlaySound(song.id)">
        <div class="play" ng-click="controller.PlaySound(song.id)">
            <img src="images/play.png" width="50" height="50">
        </div>
        <div class="info" ng-click="controller.PlaySound(song.id)">
            <div class="title" title="{{song.title}}">
                {{song.title | limitTo:35}}
            </div>
        </div>
        <div class="controls">
            <a class="queue" ng-click="controller.AddToQueue(song.id)">Add to queue</a>
        </div>
    </div>
</li>